<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>

	{% load drealtimetags %}
	{% ishout_js %}
	<script stype="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){

	});
	ishout.on('notifications', function(data){
	    $(".posts").append("<div class=\"post\"><img src=\""+ data.img +"\"/><p>"+ data.msg +"</p></div>");
	});
	ishout.on('chat', function(data){
	    if (data.type == "typing"){
  			$("#status-chat").html("<span>"+data.emiiter +" "+ data.msg+"</span>");
  		} else {
  			$("#status-chat").html("");
  		}
	});
	ishout.on('enterChat', function(data){
  		$("#chat").append("<div>"+data.emiiter +": "+ data.msg+"</div>");
	});
	
	function Chatting(val){
		if(val != "" && val.length >= 0){
			var user = $("#chat-msg").data("user"),
			data = {
				emiiter: user,
				msg:"typing..",
				type:"typing"
			};
			ishout.sendMessage('chat', data);
		} else {
			endChatting();
		}
	}

	function endChatting(){
		var user = $("#chat-msg").data("user"),
		data = {
			emiiter: user,
			msg:"typing..",
			type:"endtyping"
		};
		ishout.sendMessage('chat', data);
	}

	function enterChat(event,ele){
		var code = event.keyCode || event.which,
			real_val = $("#chat-msg").val().trim() + String.fromCharCode(code);
		if( code == 13 && real_val != "" ){
			var user = $("#chat-msg").data("user"),
			token = $("#chat-msg").data("token"),
			data = {
				emiiter: user,
				msg:ele.value,
				type:"enterChat",
				token:token,
			};
			ishout.sendMessage('enterChat', data);
			endChatting();
			ele.value="";
		} else {
			if (code == 8) real_val = real_val.substr(0, real_val.length - 2);
			Chatting(real_val);
		}
	}

	ishout.init();
	</script>



</head>
<body>


<h1> Dashboard</h1>
<div class="posts">
</div>
<div id="chat" style="height:200px;background-color:#ccc;color:#fff;">
<div id="status-chat" style="height:20px;background-color:#bbb;color:#fff;"></div>
</div>
<input type="text" data-token="{{ csrf_token }}"  id="chat-msg" data-user="{{user}}" onkeydown="enterChat(event, this)"  value="" />
{{message}}

{%for user in users%}

{{user}}<a href="/alert/?user={{user.id}}"> Alert (Hello)</a><br/>

{%empty%}

<b> No users found</b>


{%endfor%}
</body>
</html>


